body{
    background-color: #f5f5f5;
    padding-top: 3.625rem;
    padding-bottom: 0.75rem;
    position: relative;
}

/*包含以下五种的链接*/
a {
    text-decoration: none;
    color: #000;
}
/*正常的未被访问过的链接*/
a:link {
    text-decoration: none;
}
/*已经访问过的链接*/
a:visited {
    text-decoration: none;
}
/*鼠标划过(停留)的链接*/
a:hover {
    text-decoration: none;
}
/* 正在点击的链接，鼠标在元素上按下还没有松开*/
a:active {
    text-decoration: none;
}
/* 获得焦点的时候 鼠标松开时显示的颜色*/
a:focus {
    text-decoration: none;
}

/* 头部 */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_nav{
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #f0f0f0;
    background-color: #fff;
    z-index: 1;
}

.header_nav_table{
    margin: 0 auto;
}

.header_nav_table_body{
    display: flex;
    align-items: center;
    height: 3.625rem;

}

.header_nav_table_body .table_left .value{
    height: 3.625rem;
}

.header_nav_table_body .table_left .value  a{
    display: inline-block;
    font-size: 1.0625rem;
}

.header_nav_table_body .table_left .value a .logo_box{
    height: 3.625rem;
    text-align: center;
}

.header_nav_table{
    position: relative;
}

.header_nav_table .table_left{
    /* width: 13%; */
    /* float: left; */
    position: absolute;
    left: -18%;
}

.header_nav_table .table_content{
    /* width: 87%; */
    width: 60rem;
    display: flex;
    height: 3.625rem;
    align-items: center;
    position: relative;
}

.header_nav_table .table_content td{
    display: inline-block;
    margin-right: 1.25rem;
    padding: 0.9375rem;
    height: 100%;
}

.header_nav_table .table_content td:hover{
    background-color: #f5f5f5;
}

.header_nav_table_body .table_content img{
    width: 1.25rem;
    margin-right:0.5rem;
}

/* 搜索框 */

.header_nav_table #search_input_tr{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header_nav_table #search_input_tr #search{
    animation-name: lll;
    animation-duration: 2s;
}

@keyframes lll {
    from {width: 200px;}
    to {width: 160px;}
}

/* 聚焦 */
.header_nav_table #search_input_tr #search:focus{
    animation-name: expand;
    animation-duration: 2s;  
    animation-fill-mode: forwards;
}

@keyframes expand {
    from {width: 160px;}
    to {width: 200px;}
}

.header_nav #search_input_tr .search_icon{
    position: absolute;
    top: 50%;
    right: 1.375rem;
    transform: translateY(-50%);
    /* border-color: transparent; */
}

.header_nav_table #search_input_tr:hover{
    background-color: #fff;
}

/*  */

.header_nav_table .table_content td input{
	background:none;  
	outline:none;  
	border:0px;
    padding: 0 2.5rem 0 1.25rem;
    width: 10rem;
    height: 2.375rem;
    font-size: 0.875rem;
    border: 1px solid #eee;
    border-radius: 2.5rem;
    background: #eee;
    transition: width .5s;
    -moz-transition: width .5s;
    -webkit-transition: width .5s;
    -o-transition: width .5s;
    transition-delay: .1s;
    -moz-transition-delay: .1s;
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
}

.container{
    width: 60rem;
    background-color: #f7f7f7;
}

.bgw{
    background-color: #fff;
}

/* 内容表格 */
.table thead tr{
    font-size: 1.125rem;
    font-weight: 700;
}

.table thead tr td{
    vertical-align: middle;
}

/* 搜索结果table */
#search_table_body tr td{
    vertical-align: middle;
}

/* 第一行背景色 */
#search_table_body tr:nth-child(3n+1) td{
    background-color: #f2ebe7;
}

/* 第二行背景色 */
#search_table_body tr:nth-child(3n+2) td{
    background-color: #cec3c0;
}

/* 第三行背景色 */
#search_table_body tr:nth-child(3n) td{
    background-color: #fdecd6;
}

/* 首页书籍封面 */
#book_cover{
    width: 150px;
    height: 200px;
}

/* 首页搜索结果表格 */
#books_table{
    margin-top: 0;
    padding-top: 15px;
    background-color: #f5f5f5;
}

#books_table .books_table_thead tr td{
    background-color: #c7cad9;

}

/* 无数据图片 */
#no-data{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 遮罩层 */
.mask{
    background: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    display: none;
}

.mask .img_detail_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.mask .img_detail_box .close_img{
    height: 64px;
    width: 64px;
    cursor: pointer;
    background-image: url('../../images/close.png');
}

.mask .img_detail_box .close_img:hover{
    background-image: url('../../images/close_hover.png');
}

/* 版权 */

.footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #c8c8c8;
    font-size: 0.75rem;
    padding-top: 1.5625rem;
}

/* book request */

.table_custom{
    width: 100%;
    border-collapse: collapse;
}

.table_custom th,td{
    padding: 20px 10px;
}

.table_custom th:last-child{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.table_custom thead tr{
    background-color: #008c8c;
    color: #fff;
}

.table_custom tbody tr:nth-child(odd){
    background-color: #eee;
}

.table_custom tbody tr:hover{
    background-color: #ccc;
}

.table_custom tbody tr td:first-child{
    color: #f40;
}

.table_custom tbody tr td:nth-child(2){
    max-width: 130px;
}

.table_custom tbody tr td:nth-child(5){
    max-width: 200px;
}

.table_custom tbody tr td:last-child{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* bookrequest  */

#add_new_Btn{
    /* 固定 */
    position: fixed;
    right:60px;
    bottom: 200px;
    /* 表格内部 */
    /* float: right;
    margin: 20px 15px 0 0; */
}